@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Playfair+Display&display=swap');


.root {
  margin: 2em 0 4em;
}

.headline {
  font-family: 'Playfair Display', serif;
  font-size: var(--font-micro-size);
  line-height: var(--font-micro-line-height);
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 2rem 0;
}

.toprowgrid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;


  @media (--media-min-medium) {
    grid-template-columns: 1fr;
  }
  @media (--media-min-large) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.toprowgrid img{
  max-height: 225px;
}

.toprowgrid .itemone{
  @media (--media-min-medium) {
    grid-column: span 2;
  }
}
.toprowgrid .itemtwo{
  @media (--media-min-medium) {
    grid-column: span 3;
  }
}

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;

  @media (--media-min-small) {
    grid-template-columns: 1fr;
  }

  @media (--media-min-medium) {
    grid-template-columns: 1fr 1fr;
  }
  @media (--media-min-large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.browseMoreNav {
  composes: small from './typography.module.css';
  margin-top: 1rem;
  text-align: right;

  @nest & a {
    display: inline-block;
    padding: 0.5rem 0;
    color: inherit;
    text-decoration: none;

    @media (hover: hover) {
      @nest &:hover {
        color: var(--color-accent);
      }
    }
  }
}
